$black: #201230;
$pink: #cd5492;
$purple: #5f14a2;
$purpleDark: darken(#401744, 1%);
$white: snow;
$circle: 50%;
$blobRadius: 43% 45% 43% 44%;
$duration: 10s;

@font-face {
  font-family: 'Carola';
  src: local('Carola'), url(./fonts/Carola.woff2) format('woff2'),
    url(./fonts/Carola.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi Light';
  font-style: normal;
  font-weight: normal;
  src: local('Satoshi Light'), url(./fonts/Satoshi-Light.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Carola', serif;
  text-decoration: none;
  list-style: none;
  letter-spacing: 1.6px;
}
body{
  height: 100%;
  width: 100vw;
  overflow-x: hidden !important;
  overflow-y: auto;
  color: #fff;
}

a{
  color: #fff;
}

#root {
  background-color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.header-container{
  padding: 2rem;
}
header {
  display: flex;
    flex-direction: column;
  width: 100%;
  background-color: #aa3918;
  
  .intro_container {
    display: flex;
    flex-direction: column;
    .intro {
      margin-top: 15rem;
      font-size: 2rem;
      line-height: 2.4rem;
      margin-bottom: 2rem;
    }
    a {
      justify-self: center;
      margin-bottom: 2.5rem;
      border: 1px #fff solid;
      text-align: center;
      border-radius: 25px;
      font-size: 1.5rem;
      padding: 0.6rem 0 0.4rem;
      width: 75%;
    }
  }
}

main{
  width: 100%;
  padding: 4.5rem 2rem 1rem;
}

.main-content {
  line-height: 1.4rem;
  .content-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    .section-image {
      width: 100%;
      margin: 1rem 0;
      border-radius: 20px;
      position: relative;
    }
    hr {
      margin-bottom: 1rem;
      max-width: 100%;
    }
  }
}

.desc {
  font-family: 'Satoshi Light', sans-serif;
  text-transform: uppercase;
  max-width: 100%;
}

.canvas-fun{
  width: 100%;
  background-color: #f5e8cf;
  color: #000;
  position: relative;
}
.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.mobile-footer{
  background-color: #44704b;
  width: 100%;
  padding: 3rem 2rem;
}
.footer-title{
  font-size: 2rem;
  margin-bottom: 3rem;
 }
  .social-links{
    li{
      position: relative;
      margin-bottom: 3rem;
      &:before{
        content: "";
  width: 100%;
  position: absolute;
  left: 0;
  top: -0.8rem;
  height: 1px;
  background: #fff;
      }
      p{
        font-weight: bold;
      }
    }
  }
  small{
    font-size: 0.5rem;
  }

.brush{
  padding: 0 2rem;
  width: 100%;
}

input[type='range'] {
	-webkit-appearance: none;
  border: none;
  width: 100%;
  margin: 3rem 0;
  &::-webkit-slider-runnable-track {
    height: 1px;
    background: #000;
    border: none;
    border-radius: 1px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px black solid;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #f5e8cf;
    margin-top: -9px;
  }
}

input[type='submit'], button{
  background: none;
    color: inherit;
    border: 1px black solid;
    padding: 1rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    justify-self: center;
      margin-bottom: 2.5rem;
      text-align: center;
      border-radius: 25px;
      font-size: 1.5rem;
      padding: 0.6rem 0 0.4rem;
      width: 30%;
}
.btn-container{
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.color-picker .react-colorful{
  border-radius: 35px;
}
.color-picker{
  display: flex;
  align-content: center;
  padding: 0 2rem 2rem;
  width: 100%;
}

.color-picker .react-colorful__hue {
  border-radius: 25px;
  padding: 0;
}

.color-picker .react-colorful {
  height: 10px !important;
  width: 100%;
}
.color-picker .react-colorful__saturation{
  display: none;
}
.color-box{
  p{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.canvas-header{
  display: flex;
  padding: 2rem 2rem 1rem;
  align-content: center;
  justify-content: space-between;
  
  button {
    padding: 0;
    margin: 0 0 0 1rem;
  }
}

@-webkit-keyframes SHOW-BOX {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes SHOW-BOX {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes SHOW-BOX {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes SHOW-BOX {
  0%   { width: 0; opacity: 0; }
  100% { opacity: 1; }
}

.show-box {
  -webkit-animation: SHOW-BOX 2s ease;
  -moz-animation: SHOW-BOX 2s ease;
  -o-animation: SHOW-BOX 2s ease;
  animation: SHOW-BOX 500ms ease-in-out;
}

.hero-image{
  background-image: url("../assets/record_store.jpg");
  width: 100%;
  height: 100vh;
  background-position: 80% 30%;
  background-repeat: no-repeat;
  background-size: 5000px;
  opacity: 0.9;
}
.hero-overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("../assets/texture_overlay.png");
  background-size: cover;
  height: 100%;
  opacity: 0.4;
    background-repeat: no-repeat;
    z-index: -2;
  }
}

.hero-logo{
  margin-bottom: 12rem;
  a{
    font-size: 1.5rem;
  }
}

.hero-text{
  display: flex;
  flex-direction: column;
  font-size: 20vmin;
  text-align: center;
  padding: 2rem 0;
}

.desktop-content-body{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.desktop-content-text{
  width: 25%;
  display: flex;
  flex-direction: column;
  hr{
    margin-bottom: 1.5rem;
  }
  p.title{
    padding-bottom: 1rem;
  }
}

.desktop-image-container{
  display: flex;
  width: 70%;
  margin-bottom: 4rem;
  padding-right: 2rem;
}

.desktop-main{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.desktop-section-image{
  width: 50%;
  height: auto;
  object-fit: cover;
  padding-left: 2rem;
  position: relative;

}

.desktop-footer{
  background-color: #aa3918;
  padding: 3rem 2rem;
  .intro_container {
    display: flex;
    flex-direction: column;
    .intro {
      font-size: 2rem;
      line-height: 2.4rem;
      margin-bottom: 3rem;
    }
    a {
      border: 1px #fff solid;
      text-align: center;
      border-radius: 25px;
      font-size: 1.5rem;
      padding: 0.6rem 0 0.4rem;
      width: 25%;
      height: 2.5rem;
    }
  }
}
.desktop-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0;
  li{
    width: 100%;
    hr{
      width: 80%;
      background-color: #fff;
      margin-bottom: 1rem;
    }
  }
}

footer{width: 100%;}